#observablehq-viewof-stinkyDateSlider-5263f343 svg{
  width: 98%;
  height: 100%
}
select {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 155px;
  font-size: 14px;
}
.oi-ec050e {
  margin-right:0px
}