<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>Portland</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

<body>

<div class="container">
  <div class="row">

    <div class="col-sm-1">
    </div>

    <div class="col-sm-10">
      <h1>Portland</h1>
      <div id="map"></div>
      <div id="brush"></div>
      <div id="brushed"></div>
    </div>

    <div class="col-sm-1">
    </div>
  </div>
</div>

<script type="module">

// Load the Observable runtime and inspector.
import {Runtime, Inspector} from "{{url_for('static', filename='scripts/observable_runtime.js')}}";

// Your notebook, compiled as an ES module.
// import notebook from "https://api.observablehq.com/d/88a8d31c7bc2f92d.js?v=3";
import notebook from "{{url_for('static', filename='scripts/observable_brush_map.js')}}";

new Runtime().module(notebook, name => {
  if (name === "map") {
    return new Inspector(document.querySelector("#map"));
  }
  if (name === "brush") {
    return new Inspector(document.querySelector("#brush"));
  }
  if (name === "brushed") return true;
});

</script>
<script src="{{url_for('static', filename='scripts/bootstrap.bundle.min.js')}}"></script>
</html>